<div class=side-header>
  <div class=side-name>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class=chat-create>
    <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>
<div class=side-body>
  <div class=chat-room>
    <div class=chat-room-name>
      <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>