<div class=side-header>
  <div class=side-name>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class=chat-create>
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class=side-body>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom2</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom3</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom4</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom5</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom6</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom7</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom8</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom9</a>
    </div>
  </div>
  <div class=chat-room>
    <div class=chat-room-name>
      <a href="#">techroom10</a>
    </div>
  </div>
</div>