.wrapper{
  display: flex;
}

/* サイドバー */

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

/* サイドバー上部 */

.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-create a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

/* サイドバーBODY */

.side-body{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px ;
  overflow: scroll;
}

.chat-room{
  padding: 20px 0 40px ;
}

.chat-room-name a{
  color: white;
  text-decoration: none;
}

/* チャット画面 */

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px ;
}

.main-body{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 ;
}

.main-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px ;
}